body{
	font-family: 'Lobster Two', cursive;
	font-size: 1.5em;
	background-color: rgba(119, 28, 191,.5);
}

.divAddLista{
	margin-top: 2%;
	width: 210px;
	height: 100px;
	background-color: rgba(119, 28, 191,.5);
	border: 2px solid rgba(119, 28, 191,.9); 
	padding: 1% 0% 2% 2%;
}

input{
	padding: 2% 2%;
	margin:2% 0 4% 0;
}

.divAddTarjetas{
	margin-top: .5%; 
	margin-left: 1%; 
	width: 250px;
	height: 100%;
	background-color: gray;
	border: 2px solid gray; 
	opacity: 7%;
	padding: 1% 0% 1% 1.5%;
}

.divAddTarjetas2{
	width: 210px;
	height: 100%;
	background-color: gray;
	border: 2px solid gray; 
	opacity: 7%;
}

a{
	color: #FFFFFF!important;
	cursor: pointer;
}

button{
	margin-right: 5%;
}

textarea{
	width: 850px;
	height: 60px;
	margin: 2% 2% 2% 2%; 
}

a, .noMove{
	display: block;
	margin-bottom: 5%;
}

.divTextTarjeta{
	margin-top: 1%;
	margin-left: 1%;
	width: 310px;
	height: 100%;
	background-color: #FFFFFF; 
	opacity: 1%;
}